# Build outputs
frontend/dist_electron/
frontend/dist_app/
backend/dist/
frontend/dist/
dist/
dist_app/
build/
win-unpacked/
Cram-School-Builder/
electron_cache/

# Logs
*.log
*.txt
frontend/build_logs.txt
frontend/electron_build_logs.txt
backend/errors.txt
backend/tsc_errors.log

# Dependencies
node_modules/

# OS Files
.DS_Store
Thumbs.db
