DATABASE_URL="database url si buraya gelecek"
JWT_SECRET_KEY="jwt secret key buraya gelecek oluşturmak için şu komutu kullanabilirsiniz: openssl rand -hex 64"

ACCESS_TOKEN_SECRET="access token"
REFRESH_TOKEN_SECRET="refresh token"

CORS_ORIGIN="3000"
BACKEND_URL="3005"  