DATABASE_URL="database url si buraya gelecek"
JWT_SECRET_KEY="jwt secret key buraya gelecek oluşturmak için şu komutu kullanabilirsiniz: openssl rand -hex 64"




CORS_ORIGIN="3000"
BACKEND_URL="3005"  